<form action="/admin/api/v1/auth/register" method="post">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Insert username" required><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Insert password" required><br>
  <button type="submit">Register</button>
</form>