<div class="card m-3 p-3">
  <div>
    <h3>
      <a href="<%= link %>/<%= item.id %>" class="text-reset">
        <%= item.title %>
      </a>
    </h3>
    <div style="font-size: 0.8rem;"><%= (new Date(item.createdAt).toDateString()) %></div>
    <p class="mt-2">
      <% if (item.content.length > 1000) {%>
      <%= item.content.substr(0, 1000) %>...
      <%} else {%>
      <%= item.content %>
      <%}%>
    </p>
  </div>
</div>