<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/blog.css">
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- jQuery library -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <!-- Popper JS -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script defer src="/javascripts/app.js" type="module"></script>
  <title>Blog</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand" style="border-bottom: 1px solid grey;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </nav>
    <h1 class="text-center py-3"><a href="/blog" class="text-reset">Blog</a></h1>
  </header>
  <div class="theme-switcher">
    <i class="fa fa-2x" title="Theme Switcher" aria-label="Theme Switcher"></i>
  </div>
  <div id="blog-main">
    <%- body %>
  </div>
</body>

</html>