.greet-outer {
  width: 100%;
}
.greet-1 {
  position: relative;
}
.greet-1--animate {
  animation: text-clip 1250ms 100ms cubic-bezier(0.5, 0, 0.1, 1) both;
}
.greet-1-inner {
  top: 0;
  position: absolute;
}
.greet-1-inner--animate {
  animation: mid-to-left 1s 1250ms both;
}
.greet-2--animate {
  animation: left-to-normal 1s 1s ease both;
}
.typewrite > .wrap {
  border-right: 0.08em solid var(--accent-1);
}
.typewrite {
  opacity: 0;
  transition: opacity 100ms ease;
}
.typewrite-show {
  opacity: 1;
}
.typewrite-show .wrap {
  animation: blinkTextCursor 750ms infinite normal;
}
.greeting-container {
  height: 100vh;
  padding: 80px;
  display: flex;
  align-items: center;
}
h1 {
  font-size: 50px;
  color: var(--main-3);
  font-weight: 400;
}
.text-highlighted {
  color: var(--accent-1);
}
.projects {
  margin: 60px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
}
.projects h2,
#contact-me h2 {
  font-size: 46px;
  text-align: center;
  margin: auto;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--main-3);
}
.projects-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}
.work {
  width: 100%;
  justify-self: center;
  max-width: 80vw;
  padding: 16px;
}
.project-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.3s;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card:active {
  transform: scale(1);
}
.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}
.app-image-container {
  padding-bottom: calc((3 / 4) * 100%);
}
.design-image-container {
  padding-bottom: calc((1 / 1) * 100%);
}
.work .img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.kind {
  background-color: rgba(26, 26, 26, 0.85);
  position: absolute;
  right: 8px;
  bottom: 28px;
  padding: 6px;
  border-radius: 8px;
  font-size: 1rem;
  max-width: 90%;
  text-align: end;
}
.work-text {
  padding: 8px 16px;
  position: relative;
  border-radius: 16px;
  top: -20px;
  margin-bottom: -20px;
  width: 90%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--bg-2);
}
.title {
  font-size: 20px;
  text-align: center;
  color: var(--main-2);
}
.desc {
  margin: 8px 0;
  color: var(--main-2);
}
footer {
  padding: 60px 32px 32px;
}
footer h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--mainOpponentColor);
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
}
footer a:hover {
  color: var(--linkHover);
}
.footer-wrapper {
  background-color: var(--accent-1);
  border-radius: 10px;
  padding: 20px;
}
.profile {
  color: var(--secondaryColor);
}
#contact-me * {
  width: 100%;
}
#contact-me input,
#contact-me textarea {
  border-radius: 10px;
  border: 1px solid var(--main-2);
}
#contact-me textarea {
  min-height: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  overflow-y: auto;
}
