:root {
  --accent-1: #0563bb;
  --accent-i-1: #f2f3f5;
  --tertiary: #45505b;
  --linkHover: #fddb3a;
  --mainColor: #000000;
  --mainOpponentColor: #ffffff;
  --main-2: #f2f3f5;
  --main-3: #f2f3f5;
  --bg: #151515;
  --bg-2: #45505b;
  --secondaryColor: #f2f3f5;
}
