@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@keyframes text-clip {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes mid-to-left {
  from {
    left: 50%;
    transform: translateX(-50%);
  }
  to {
    left: 0;
    transform: none;
  }
}
@keyframes left-to-normal {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: none;
  }
}
@keyframes blinkTextCursor {
  50% {
    border-right-color: var(--accent-1);
  }
  51% {
    border-right-color: transparent;
  }
  to {
    border-right-color: transparent;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  transition: 100ms all;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}
h1, h2, h3, h4, h5 {
  color: var(--main-3);
}
:root {
  --accent-1: #0563bb;
  --accent-i-1: #ffffff;
  --tertiary: #45505b;
  --main-2: #45505b;
  --main-3: #45505b;
  --linkHover: #fddb3a;
  --mainColor: #000000;
  --mainOpponentColor: #ffffff;
  --bg: #ffffff;
  --secondaryColor: #f2f3f5;
  --bg-2: #f2f3f5;
}
body {
  background-color: var(--bg);
  min-height: 100vh;
  transition: 0.3s;
  position: relative;
  color: var(--main-3);
}
.card {
  background-color: var(--bg);
}
#section-main {
  height: 100vh;
  color: var(--accent-1);
}
.nav-menu {
  padding: 0;
  display: block;
}
.nav-link {
  color: var(--tertiary);
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: var(--accent-i-1);
  background: var(--accent-1);
}
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--tertiary);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: var(--secondaryColor);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a,
.nav-menu a:focus {
  width: 56px;
}
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: var(--tertiary);
}
.nav-menu a span,
.nav-menu a:focus span {
  display: none;
  color: var(--accent-i-1);
}
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: var(--accent-i-1);
}
.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}
.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: var(--accent-i-1);
}
.theme-switcher {
  right: 16px;
  top: 16px;
  position: absolute;
  display: flex;
  background-color: var(--accent-1);
  border-radius: 100%;
  width: 52px;
  height: 52px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.theme-switcher:hover {
  transform: scale(1.1);
}
.theme-switcher:active {
  transform: scale(1);
}
.theme-switcher i {
  color: var(--accent-i-1);
  transition: transform 0.3s;
}
.rotate {
  transform: rotate(360deg);
}
.text--main {
  color: var(--mainColor);
}
.text--white {
  color: #fff;
}
.btn-main {
  background-color: var(--accent-1);
  border: 1px solid var(--accent-1);
  border-radius: 10px;
  color: white;
  font-weight: 500;
}
.btn-main:hover {
  color: var(--accent-1);
  background-color: white;
}
.d-none {
  display: none;
}
@media only screen and (max-width: 767.98px) {
  h1 {
    font-size: 45px;
  }
  .projects h2,
  #contact-me h2 {
    font-size: 43px;
  }
  .projects-item {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 40px;
  }
  .projects h2,
  #contact-me h2 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 575.98px) {
  .greeting-container {
    padding: 60px;
  }
  h1 {
    font-size: 35px;
  }
  .projects h2,
  #contact-me h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 420px) {
  .greeting-container {
    padding: 40px;
  }
  h1 {
    font-size: 30px;
  }
  .projects h2,
  #contact-me h2 {
    font-size: 27px;
  }
}
