<a href="/admin/posts/create" class="btn btn-primary">Add Post</a>
<% if (posts.length == 0) { %>
    <div class="container text-center my-3">
        Nothing to see here
    </div>
<%} %>
<% posts.forEach(post=> { %>
    <%- include("../../partials/postCard", {item: post, link: '/admin/posts'}) %>
    <% }) %>