<form id="form">
  <div class="form-group">
    <% if (locals.post) {%>
    <div class="mb-3"><%=(new Date(post.createdAt).toDateString())%></div>
    <%}%>
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" <% if (locals.post)
      {%>value="<%= locals.post?.title %>"
      <% } %>required>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" name="content" required
      style="min-height: 300px;"><% if (locals.post) {%><%= locals.post?.content %><% } %></textarea>
  </div>
  <% if (locals.post) {%>
    <button id="btn-submit" type="submit" class="btn btn-primary">Edit</button>
    <button id="btn-delete" class="btn btn-danger" type="button">Delete</button>
    <%} else {%>
    <button id="btn-submit" type="submit" class="btn btn-primary">Post</button>
    <%}%>
</form>
<script defer>
  const title = $('[name=title]');
  const content = $('[name=content');
  const setDisableButton = (state) => {
    $('#btn-submit').prop('disabled', state)
  }
  if (!title.first().val().trim() || !content.first().val().trim()) setDisableButton(true)
  
  title.on('input', () => {
    if (!title.first().val().trim()) {
      setDisableButton(true)
      title[0].setCustomValidity('Title cannot be empty')
    } else {
      setDisableButton(false)
      title[0].setCustomValidity('')
    }
  })
  content.on('input', () => {
    if (!content.first().val().trim()) {
      setDisableButton(true)
      content[0].setCustomValidity('Content cannot be empty')
    } else {
      setDisableButton(false)
      content[0].setCustomValidity('')
    }
  })

  <% if (locals.post) {%>
    $('#btn-delete').click((e) => {
      e.preventDefault()
      $.ajax({
        type: 'DELETE',
        url: '/admin/posts/<%= locals.post.id %>',
        success: (res) => window.location.href = res
      })
    })
    $('#btn-submit').click((e) => {
      e.preventDefault()
      if (!title.first().val().trim() || !content.first().val().trim()) return
      $.ajax({
        type: 'PUT',
        url: '/admin/posts/<%= locals.post.id %>',
        data: $('#form').serialize(),
        success: (res) => window.location.href = res
      })
    })
  <%} else {%>
    $('#btn-submit').click((e) => {
      e.preventDefault()
      if (!title.first().val().trim() || !content.first().val().trim()) return
      $.post('/admin/posts', $('#form').serialize(), (res) => window.location.href = res)
    })
  <%}%>
</script>