<div class="px-4">
  <h3>
    <%= post.title %>
  </h3>
  <div style="font-size: 0.8rem;"><%= (new Date(post.createdAt).toDateString()) %></div>
  <p class="mt-2">
    <%= post.content %>
  </p>
</div>